.gallery {
    text-align: center;
  }
  
  .categories {
    margin-bottom: 20px;
  }
  
  .categories button {
    margin-right: 10px;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .column {
    flex-basis: calc(66.66% - 20px);
    display: flex;
    flex-wrap: wrap;
  }
  
  .empty-column {
    flex-basis: calc(33.33% - 20px);
  }
  
  .image-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* .background {

    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow-y: auto; 
  }
  .bg{
    background-color: #7f08c4;
    opacity: 0.6;
  } 
  /* tailwind.css */
.background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-size: cover;
  }
  
  .background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
  }
  
  .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #501d6d;
    opacity: 0.6;
    z-index: -2;
  }
  .bg{
    background-color: #9324d366;
    opacity: 0.9;
  } 

  .hoverable-image {
    transition: transform 0.3s ease; /* Adding transition for smooth effect */
  }
  
  .hoverable-image:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
  }
  /* Rest of your styles */
  .image-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 100%; /* Adjust the height as needed */
  }
  
  .slider-image {
    width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 6s ease-in-out;
  }
  
  .slider-image.active {
    opacity: 1;
  }
  .testbg {
    /* background-image: url('your-image.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
    width: 100%;
    /* overflow-y: auto; Adds a scrollbar if the content exceeds the viewport height */
  }
  .round{
  
    border-radius: 50%;
  }
  .bg1{
    background-color: #f16bcb3f;
    opacity: 0.9;
  } 
  .rate-us {
    text-align: center;
    margin-bottom: 40px;
  }
/*   
  .rate-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
  } */
  
  .rate-us p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .rating-stars {
    display: inline-block;
  }
  
  .rating-stars input[type="radio"] {
    display: none;
  }
  
  .rating-stars label {
    display: inline-block;
    cursor: pointer;
    color: #ddd;
    font-size: 24px;
    margin-right: 5px;
  }
  
  .rating-stars label:hover,
  .rating-stars label:hover ~ label,
  .rating-stars input[type="radio"]:checked ~ label {
    color: #ffcc00;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3182ce;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #2a69ac;
  }
  